body{
    background-image:url(../assets/images/fondo.jpg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    


}
header  {
    margin:0;
    background-color: #c4a1ae;
    left: 0;
    position:fixed;
    top:0;
    width:100%;
    text-align: center;
    font-size: 20px;
}
.fa-twitter{
    color:white;
}  

.format-Title{
    display:inline-block;
    color:white;
    
}

/*SE AGREGAN LOS ESTILOS PARA EL MAIN */
hr{
    width:90%;
    color:white;
}
.area-trabajo{
    display: block;
    position:relative;
    width:28%;
    margin-top:10%;
    height: auto;
    background-color:  #c4a1ae;
    border-radius: 5%;
    left:5%;
}
.format-textArea{
    width: 80%;
    height: auto;
    margin-top:3%;
    margin-left: 8%;
    font-size: 14px;

}

#btn{
    display:block;
    position: relative;
    margin:5%;
    border-radius: 3%;
    font-size: 18px;
    font-family: 'Russo One', sans-serif;
    padding:2%;
    margin-bottom: 2%;
    color:white;
    background-color:#b74971;
    border:none;
    top:-1.2em;
}

/*formatos para el contenedor de los comentarios */

.format-Comentarios{
    display:inline-block;
    width:40%;
    position:relative;
    margin-bottom:5em;
    height: auto;
    font-size: 18px;
    left:5%;

}

.formatContainerComment{
    display:block;
    width:65%;
    margin:2%;
    border-radius: 2%;
    font-size: 20px;
    background-color: #c4a1ae;
    word-wrap: break-word;
    padding:0.5em;
    color:white;
    font-family: 'Courgette', cursive;
}

.deshabilitad{
    background-color:red;
    
}
/*FORMATOS PARA EL CONTADOR*/

.warning {
    color:white;
}

.alarma {
    color:#e81462;
}
.char-rest{
    text-align: right;
    margin:1em;
    font-family: 'Pacifico', cursive;
    font-weight: bolder;

}
